<footer class="footer">
    <div class="footer-container">
  
      <p>
        © 2026 Student Blog Platform. All rights reserved.
      </p>
  
      <p class="footer-sub">
        Built with ❤️ using Node.js & Express
      </p>
  
    </div>
  </footer>