<header class="navbar">
    <div class="nav-container">
      

      <div class="logo">
        <a href="/">StudentBlog</a>
      </div>
  

      <nav class="nav-links">
        <a href="/" class="active">Home</a>
        <a href="/about">About</a>
        <a href="/contact" class="active">Contact</a>
        <a href="/signin">Sign In</a>
        <a href="/signup" class="btn-nav">Sign Up</a>
      </nav>
  
    </div>
  </header>